@tailwind base;
@tailwind components;
@tailwind utilities;

/* fontfaces */
@font-face {
    font-family: "Iskry";
    src: url("../assets/font/Iskry\ Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../assets/font/NeueMontreal-Regular.otf");
    font-style: normal;
}