@tailwind base;
@tailwind components;
@tailwind utilities;

/* fontfaces */
@font-face {
    font-family: "Iskry";
    src: url("../assets/font/Iskry\ Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Neue Montreal";
    src: url("../assets/font/NeueMontreal-Regular.otf");
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.home-link {
    cursor: pointer;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    box-shadow: 0 0 1px black !important;
    background: #ffffff !important;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background: #374151 !important;
    opacity: 1;
}

.modal-iframe-container {
    height: 650px;
    width: 1000px;
    overflow: scroll;
}
.modal-iframe {
    height: 100%;
    width: 100%;
    /* pointer-events: none; */
}

@media screen and (max-width: 768px) {
    .modal-iframe-container {
        width: 350px;
        height: 550px;
    }
}

.reactMarkDown {
    @apply text-gray-700;
}
.reactMarkDown a {
    @apply hover:underline text-red-500;
}
.reactMarkDown strong {
    @apply font-bold text-black;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #0f1110;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(45, 45, 45);
}
